#header {
    background-color: black;
    height: 100px;
    display: flex;
    color: white;
    z-index: 1;
}

.image-logo {
    margin: 10px 0 10px 250px;
    width: 50%;
}

.image-logo img {
    width: 250px;
    height: 80px;
}

.header_navigation {
    display: flex;

}

li {
    list-style: none;
    margin: 30px 20px;
}

.link_nav {
    color: white;
    text-decoration: none;
}

.link_nav:hover {
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------*/
.hover-component {
    position: fixed;
    top: 50%;
    /* Adjust the top position as needed */
    left: 50%;
    /* Adjust the left position as needed */
    /* background-color: #fff; */

    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.wrapper {
    position: absolute;

    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.5s ease, height 0.2s ease;
}


.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    margin-bottom: 100vh;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active-popup .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box .login {
    display: none;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.fa.fa-times {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #000000;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-group input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    transform: translateY(30%);
    border-bottom: 1px solid black;
}

.form-group .icon {
    /* position: absolute; */
    right: 8px;
    font-size: 1.2em;
    color: #000000;
    line-height: 60px;
}

.nav-link {
    color: blue;
}

@media screen and (max-width: 1500px) {
    .link_nav{
        font-size: 0.8em;
    }
}