.add_event_form{
    width: 50%;
    margin: auto;
}

.add_event_form h2{
    text-align: center;
    margin-top: 50px;
}

#date{
    width: 200px;
}

#time{
    margin-left: 10px;
    height: 30px;
}